.wrapper {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  margin-left: 20%;
}

.mat-card {
  width: 300px;
  margin-bottom: 14px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.dragula_container {
  height: 100%;
  width: 200px;
  display: inline-block
}

.character {
  padding: 10px;
  background: white;
  margin: 5px;
  border: grey solid 2px;
  width: 100%
}

button{
  margin-right: 10px;
  margin-top: 10px;
}