<div class="wrapper">
    <div class="dragula_container" dragula="DRAGULA_CONTAINER" [(dragulaModel)]="characters">
        <div *ngFor="let character of characters">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>{{character.firstName}} {{character.lastName}}</mat-card-title>
                    <mat-card-subtitle>Software Developer</mat-card-subtitle>
                    <img mat-card-md-image class="avatar" src="../../assets/img/user-placeholder.png">
                </mat-card-title-group>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-list role="list">
                        <mat-list-item role="listitem">
                            <mat-icon mat-list-icon>phone</mat-icon>Phone: 9876543210
                        </mat-list-item>
                        <mat-list-item role="listitem">
                            <mat-icon mat-list-icon>email</mat-icon>Email: {{character.email}}
                        </mat-list-item>
                    </mat-list>
                    <mat-divider></mat-divider>

                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>