<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  Angular CRUD Application
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z8" src="../../assets/img/user-placeholder.png" />

    <h4 class="name">{{ currentUser }}</h4>
    <p class="designation">Software Developer</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span><a [routerLink]="['/me']">Profile</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>group</mat-icon>
      <span><a [routerLink]="['/contacts']">Contacts</a></span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>store</mat-icon>
      <span><a [routerLink]="['/products']">Products</a></span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>logout</mat-icon>
      <span><a [routerLink]="['/logout']">Logout</a></span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>