.full-width {
  width: 100%;
}


form {
  width: 400px;
  margin-left: 30%;
}
.shipping-card {
  min-width: 50px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
