<h1 mat-dialog-title>Delete Confirmation</h1>
<div mat-dialog-content>Would you like to delete this product?</div>
<div mat-dialog-actions>
    <button mat-flat-button color="warn" mat-dialog-close>Yes</button>
    <button mat-flat-button color="primary" mat-dialog-close>No</button>
</div>