.full-width-table {
    width: 100%;
  }
  
  table {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  table th {
    font-size: 20px;
  }
  
  table td {
    font-size: 15px;
  }
  
  .mat-paginator {
   font-size: 14px;
  }

  .add-item{
    margin-top: 30px;
    margin-left: 30px;
  }