<div class="wrapper">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/crud.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p class="mat-subheading-2">
                An angular application that implements Create, Read, Update and Delete (CRUD) operations
            </p>
        </mat-card-content>
    </mat-card>

</div>